#navigation{
    
    align-items: center;
    padding-bottom: 50px;
    flex-wrap: wrap;
    display: flex;
}
#navigation #header-logo{
    font-size: 24px;
    padding-right: 500px;
    color: #F9FAF8;
    font-weight: bold;
}
#navigation a{
    font-size: 18px;
    color: #E5E7EB;
    padding-right: 60px;
    text-decoration: none;
}

#section-1{
    background-color: #1f2937;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 20px 100px 100px 100px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;/*allows content to stack on smaller screen*/
   
   /*FONT ROBOTO HAS TO BE USED FOR ALL EXCEPT THE LAST SECTION*/
}
#section-1 #middle-section{
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    align-items: center;
}
#section-1 #middle-section #left-side{
    padding-right: 250px;
}
#section-1 #middle-section #left-side h1{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}
#section-1 #middle-section #left-side p{
    font-size: 18px;
    color: #E5E7EB;
}
#section-1 #middle-section #left-side button{
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 5px;
    border: none;
    padding: 5px 15px 5px 15px;
    font-weight: bold;
}
#section-1 #middle-section #right-side #image-placeholder p{
    color: #E5E7EB;
    padding: 120px;
}
#section-1 #middle-section #right-side #image-placeholder{
    background-color: grey;
}
#section-1 #middle-section #right-side #image-placeholder img{
    width: 400px;
    height: 400px;
    border-radius: 5px;
    border: 3px solid #3882F6;
}


#section-2 #section-2-content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding-bottom: 120px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#section-2 #section-2-content h2{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}
#section-2 #section-2-content #illustration{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 20px;
}
#section-2 #section-2-content #illustration img{
    width: 170px;
    height: 170px;
    border: 3px solid #3882F6;
    border-radius: 5px;
    margin-right: 25px;
}


#section-3{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 120px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #E5E7EB;
}
#section-3 #main-content p{ 
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    margin-bottom: -10px;
}
#section-3 #author{
    color: #1F2937;
    font-size: 20px;
    margin-left: 400px;
}

#section-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 120px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
}
#blue-background {
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: #3882F6;
    padding: 30px 200px 30px 200px;
    border-radius: 15px;
    max-width: 90%;
    box-sizing: border-box;
    
}
#content {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%;
    max-width: 900px; 
}
#text-content {
    text-align: left;
    color: white;
    padding-right: 200px;
    
}
#text-content h3 {
    font-size: 25px;
    margin-bottom: 5px;
    font-weight: bold;
}
#text-content p {
    font-size: 15px;
    
}
button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}
button:hover {
    background-color: white;
    color: #3882F6;
}

footer {
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
}

@media (max-width: 700px) {
    #content {
        flex-direction: column;
        text-align: center;
    }
    #text-content {
        margin-bottom: 15px;
    }
}
